*{
    padding: 0;
    margin: 0;
}

.correction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 700px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.correction h2{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}

.btnBox{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.btnBox button, #mergeButton{
    height: 40px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#mergeButton{
    margin-top: 8px;
}

.editarea{
    width: 100%;
    height: 540px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

#textInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    resize: none;
    display: none;
}

/* 텍스트를 나타내는 클래스 */
.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}